*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/* FOR HEADER PORTION*/
.amazon_logo{
    color: white;
    /* background-color: #0f1111; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo_white.png");
    height: 70px;
    width: 150px;
    background-size: cover;
}

/*FOR BODY PORTION*/
.body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:370px;
}
.signin{
    width: 290px;
    height: 310px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 20px;
    margin-left: 38%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.heading{
    font-weight: lighter;
}
.text{
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #111111;
}
.email input{
    margin-bottom: 15px;
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    outline-width: 1px;
    outline-color: rgb(82, 205, 227);
    outline-offset: 2px;
    
}

.email button{
    width:100%;
    height: 30px;
    background-color: rgb(255, 220, 0);
    border: none;
    border-radius: 7px;
}
.inside_text{
    margin-top: 25px;
    font-size: 0.75rem;
}
.inside_text span{
    color: #0066C0;
    text-decoration: underline;
}
.help{
    display: flex;
    margin-top: 25px;
    align-items: center;
}
.help p{
    padding: 5px;
    font-size: 0.75rem;
    color: #0066C0;
}
.work{
    margin-top: 25px;
    border-top: 1px solid rgb(225,225,225);
    padding-top: 10px; 
    font-size: 0.75rem;
    font-weight: bold;
}
.shop{
    margin-top: 10px;
    font-size: 0.8rem;
    color: #0066C0;
}

.change{
    text-decoration: underline transparent;
    color: #0066C0;
}
.change:hover{
    text-decoration: underline;
    color:orange;
}

/* FOR CREATE ACCOUNT PORTION*/
.below_signin{
    width: 290px;
    margin-left: 38%;
}
.new_to p{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.36);
    text-align: center;
    padding-left: 15%;
}
.new_to p:before{
    content:" ";
    height: 1px;
    width: 95px;
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 81%;
    left: 38%;
  }
  .new_to p:after{
    content: " ";
    height:1px;
    width: 115px;
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 81%;
    left: 55.5%;
  }
.create_account button{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 117%;
    height: 30px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}
.create_account button:hover{
    background-color: rgba(0, 0, 0, 0.03);
}
/* FOR FOOTER PORTION */
.foot_panel-1{
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    background-color: rgba(225, 225, 225, 0.2);
}
.panel-1{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.7rem;
    color: #0066C0;
}
.panel-1:hover{
    color: orange;
    text-decoration: underline;
}
.foot_panel-2{
    border: none;
    font-size: 0.7rem;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}