*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/* FOR NAVBAR */
.title{
    color:rgb(49, 201, 227);
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;    /*To make all the items in the centre with respect to cross-axis*/
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");
    height:50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
    color: lightblue;
}

/* For nav-address*/
.add-1{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left:15px;
}
.add-2{
    font-size: 1rem;
    margin-left:4px;
}
.add-icon{              /*For making the India and the icon in the same line we make that div to be flex*/
    display: flex;
    align-items: center;
}

/* For nav-search*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* background-color: white; */
    width: 650px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid lightblue;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: lightblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

/* For nav-signin and nsv-return */
.nav-1{
    font-size: 0.7rem;
}
.sign{
    color: white;
    text-decoration: none;
}
.nav-2{
    font-size: 0.85rem;
    font-weight: 700;
}

/* For nav-cart */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* FOR PANEL */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
}
.panel-options p{
    display: inline;
    margin-left: 15px;
    text-decoration: underline transparent;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: underline transparent;
}

.panel-options p:hover{
    text-decoration: underline #f3f3f3;
    color: lightblue
}
.panel-deals:hover{
    text-decoration: underline #f3f3f3;
    color: lightblue
}

/* HERO-SECTION */
.hero-section{
    background-image: url(headPic.jpeg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    /*background-color: white;*/
    color: black;
    height: 80px;
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    margin-bottom: 120px;
    
}
.hero-message a{
    color: #007185;
}
.hero-message:hover{
    color:rgb(89, 155, 103);
}
/* SHOP-SECTION */
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*background-color: #43b1cc;*/
    background-image: url(headPic.jpeg);
    background-size: cover;
}
.box{
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border:1px solid transparent;
}
.box-img{
    background-image: url(assets/Content1.jpeg);
    background-size: cover ;
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img2{
    background-image: url(assets/Themes.jpeg);
    background-size: cover ;
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img3{
    background-image: url(assets/Upload.jpeg);
    background-size: cover ;
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img4{
    background-image: url(assets/Sign-in.jpeg);
    background-size: cover ;
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img5{
    background-image: url(assets/Comments.jpeg);
    background-size: cover ;
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img6{
    background-image: url(assets/Report.jpeg);
    background-size: cover ;
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.para{
    margin-top: 5pm;
    color: black;
    justify-content: left;
    align-items: center;
    display: grid;
    height: 120px;
    margin-top: 50px;
}
/* .para1{
    margin-top: 5pm;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
} */

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
    
}

.box:hover{
    border: 3px solid #007185;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/*FOOTER*/
footer{
    margin-top: 20px;
}
.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
    font-size: 1rem;
}
ul a{
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height:  70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*.logo{
    height:50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}*/
.panel3-part1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px #f3f3f3;
    background-color: #222f3d;
    height: 33px;
    width: 125px;
}
.lan{
    background-color: #222f3d;
    color:#f3f3f3;
    width: 85%;
    border-radius: 5px;
    text-align: center;
    border: none;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    font-size:0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    padding-top:5px;
}


.underline{
    text-decoration: underline transparent;
}

.underline:hover{
    text-decoration: underline white;
}

ul a{
    text-decoration: underline transparent ;
}
ul a:hover{
    text-decoration: underline white;
}


